body {
}

#mainPage {
  background-image: url("https://images.unsplash.com/photo-1522083165195-3424ed129620?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.grid-container {
  display: grid;
  grid-column-gap: 1%;
  grid-template-columns: 20% 40% 40%;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  height: fit-content;
  border: 0px;
}

.tabButtons {
  background-color: white;
  color: black;
  border: 0px;
  width: 100%;
  margin-bottom: 5px;
}