body {
  background-image: url("https://cdn.shopify.com/s/files/1/2486/4354/products/Peter-Lik-Bridge-to-the-Universe-Recess-Mount_1800x.jpg?v=1611359541");
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.grid-container {
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 20% 40% 40%;
}

.grid-container-2 {
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 20% 80%;
}

.grid-item-1 {
  background-color: transparent;
  height: fit-content;
  border: 0px;
}

.grid-item-2 {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: white;
  color: black;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  height: fit-content;
  border: 0px; 
}

.grid-item-3 {
  /* background-color:rgba(0, 0, 0, 0.5); */
  background-color: white;
  color: black;
  /* font-size: 20px; */
  /* text-align: center; */
  height: fit-content;
  border: 0px;
}

.tabButtons {
  background-color: lightseagreen;
  color: white;
  border: 0px;
  width: 100%;
  height: 45px;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
}

h2{
  font-family: 'HeronSerif', serif;
  color: rgb(65, 121, 136);
  font-weight: 700;
} 
h1, h3 {
  font-family: Arial;
}

h4 {
  color: rgb(65, 121, 136);
  font-family: 'HeronSerif', serif;
}

ul {
  display: inline-block;
  font-family:sans-serif;
  font-size: 15px;
}

li {
  text-align: left;
}